* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background: #07141d;
}
#accordion {
  margin: 100px auto;
  width: 600px;
}
.tab {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}
.tab label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #c20000;
}
.tab label:hover {
  background-color: antiquewhite;
}
.tab label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: #333;
}
.tab input[type="radio"] {
  display: none;
}
#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#accordion input[type="radio"]:checked + label + .content {
  max-height: 400px;
}
#accordion input[type="radio"]:checked + label .btn {
  transform: rotate(0deg);
}
#accordion img {
  object-fit: contain;
  width: 580px;
  height: 400px;
  opacity: 100%;
  transition: all 0.5s;
}
